@use "./base.scss";
@use "./variables.scss" as *;
@use "sass:map";
// put your custom CSS here!

/* -- Morrowind Modding Wiki SCSS Modules for cooler things-- */
@use "./custom/infobox-callout.scss";
@use "./custom/image-adjustments.scss";
@use "./custom/callout-adjustments.scss";
@use "./custom/column-callout.scss";
@use "./custom/caption-callout.scss";

// put your custom CSS here!

// expands to match wide monitors better (I think)
/*  @media all and ($desktop) {
  body div#quartz-root.page div#quartz-body {
    width: min(100%, calc(#{map.get($breakpoints, desktop)} + 700px));
    max-width: min(100%, calc(#{map.get($breakpoints, desktop)} + 700px));
    padding: 0 auto;
  }
} */

/* Force borders on Quartz Callout Infoboxes */
/* .callout[data-callout="infobox"] {
  border: 1px solid #378876 !important;
  border-collapse: collapse !important;
  margin-bottom: 1rem !important;
  padding: 5px !important;
  background-color: transparent !important; /* Ensures the background doesn't hide the border */
} 

/* DATAVIEW TABLE FIX: fix width for dataview and standard tables */
/*  body table {
  width: 100% !important;   
  display: table !important;
  border-collapse: collapse;
  margin: 1.5rem 0;      
  table-layout: auto;      
  clear: both;            
} 
/* Ensure table cells don't force weird wrapping */
/* body table th, body table td {
  white-space: normal;    
  word-break: normal;
  padding: 8px;           
} 
/*
// Targets the background of both internal and external links
.internal, .external, a {
  background-color: transparent !important; 
  background: none !important;         
  padding: 0 !important;                   
  border-radius: 0 !important;           
} 
 /*
